In [1]:
from pathlib import Path
import pandas as pd

base_dir = Path.cwd()
if base_dir.name == "pickles":
    base_dir = base_dir.parent  

source_dir = base_dir / "source_files"
target_dir = base_dir / "pickles"
target_dir.mkdir(exist_ok=True)

for csv_file in source_dir.glob("*.csv"):
    df = pd.read_csv(csv_file)
    df.to_pickle(target_dir / (csv_file.stem + ".pkl"))
    print(f"Converted: {csv_file.name} -> {csv_file.stem}.pkl")

Converted: covid_19_clean_complete.csv -> covid_19_clean_complete.pkl
Converted: day_wise.csv -> day_wise.pkl
Converted: full_grouped.csv -> full_grouped.pkl
Converted: google_mobility.csv -> google_mobility.pkl
Converted: gov_policy.csv -> gov_policy.pkl
Converted: hospitalizations.csv -> hospitalizations.pkl
Converted: tracking_r.csv -> tracking_r.pkl
Converted: worldbank_gdp.csv -> worldbank_gdp.pkl
Converted: worldbank_healthcare_percent.csv -> worldbank_healthcare_percent.pkl
Converted: worldbank_old_ratio.csv -> worldbank_old_ratio.pkl
Converted: worldbank_population.csv -> worldbank_population.pkl
Converted: worldbank_pop_density.csv -> worldbank_pop_density.pkl
Converted: worldbank_smokers.csv -> worldbank_smokers.pkl
Converted: worldbank_young_ratio.csv -> worldbank_young_ratio.pkl
Converted: worldometer_data.csv -> worldometer_data.pkl

In [2]:
df = pd.read_pickle(r'pickles/covid_19_clean_complete.pkl')
df.sample(frac=1).head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
8434,NaN,Congo (Brazzaville),-0.228000,15.827700,2020-02-23,0,0,0,0,Africa
37941,NaN,Egypt,26.820553,30.802498,2020-06-15,46289,1672,12329,32288,Eastern Mediterranean
20484,NaN,Honduras,15.200000,-86.241900,2020-04-09,343,23,6,314,Americas
35396,NaN,Morocco,31.791700,-7.092600,2020-06-05,8071,208,7268,595,Eastern Mediterranean
12057,Fujian,China,26.078900,117.987400,2020-03-08,296,1,295,0,Western Pacific
5343,NaN,Guyana,4.860416,-58.930180,2020-02-11,0,0,0,0,Americas
5732,NaN,Malawi,-13.254300,34.301500,2020-02-12,0,0,0,0,Africa
7953,NaN,Guyana,4.860416,-58.930180,2020-02-21,0,0,0,0,Americas
39022,NaN,Ireland,53.142400,-7.692100,2020-06-19,25368,1714,22698,956,Europe
1699,NaN,Ireland,53.142400,-7.692100,2020-01-28,0,0,0,0,Europe